body {
    background: #333533;
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
    background-color: #ffd100;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav h2 {
    color: #000;
    font-weight: bold;
    margin: 0 20px;
}
.podnaglowkiem{
    text-align: center; 
}
.kontaludzi {
    border: 8px solid #202020;
    background-color: #202020;
    display: inline-block;
    margin: 10px;
    height: 380px;
    width: 250px;
    border-radius: 20px;
}
.kontaludzi:hover{
    border-color: #ffd100;
    transition: 1s
}
.kontaludzi img {
    border: 3px solid #ffd100;
    text-align: center;
    max-height: 150px;
    max-width: 150px;
    border-radius: 78px;
    height: auto;
}
.opisludzi{
    padding: 6px;
    right: 1px;
    text-align: left;
    color: #d6d6d6
}
.przyciskoopisuludzi{
    text-align: right;
    padding: 4px
}
.przyciskopisu{
    color: black;
    border: 2px solid #ffd100;
    border-radius: 30px;
    width: 80px;
    height: 35px;
    background-color: #ffd100
}
.przyciskopisu:hover{
    color: #ffd100;
    transition: 1s;
    background-color: black;
}
.opispodopisami{
    text-align: center;
}
.opispodludzmiopis{
    padding: 1px 20px;
    color: #d6d6d6;
    text-align: left;
    background-color: #202020;
    display: inline-block;
    margin: 10px;
    height: 380px;
    width: 1400px;
    border-radius: 20px;
    overflow-y: scroll;
}
footer {
    background-color: #fdd100;
    color: black;
    padding: 120px 0px;;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    height: 30px;
}
.calyopis{
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.podstrona{
    text-align: center;
    width: 100%;
    display: flex;
}
.podstronaopis{
    background-color: #202020;
    display: inline-block;
    margin: 10px;
    height: 420px;
    width: 70%;
    border-radius: 20px;
}
.podstronaopisopis{
    color: #d6d6d6;
    padding: 1px 20px;
    border-radius: 30px;
    text-align: left;
}
.podstronazdj{
    border-color: #fdd100;
    border-radius: 200px;
    max-height: 420px;
    max-width: 30%;
  
}
.podstronaheader{
    width: 100%;
   height: 100px;
    background-color: #ffd100;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.podstronaheader a{
    padding: 10px 10px;
    border-radius: 30px;
    color: #fdd100;
    border: 2px solid #ffd100;
    background-color: black
}
.podstronaheader a:hover{
    transition: 1.5s;
    background-color: #fdd100;
    color: #000;
    border: solid #000 2px;
}
nav{
    display: flex;
    width: 80%;
}
.podstronaheader1{
    width: 50%;
    display: flex;
    justify-content: start;
}
.podstronaheader2{
    width: 50%;
    display: flex;
    justify-content: end;
}
.tabelastrgl{
    width: 80%;
}
.tabelastrglcontent{
    color: #d6d6d6;
    text-align: left;
    background-color: #202020;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    overflow-x: scroll;
}
.tabela{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 380px;
}
.tabelastrglcontent th{
text-align: center;
padding: 10px 10px;
}
.tabelastrglcontent td{
text-align: center;
padding: 40px 10px;
}
table{
    display: flex;
    flex-direction: column;
   height: 380px;
}